/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.forecast-tile {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.forecast-tile .weather-icon {
  padding-bottom: 10px;
  max-width: 100px;
}

.no-results {
  margin-top: 10px;
  padding: 0;
}

path {
  stroke-width: 2;
  fill: none;
}

path.low_temp_line{
    stroke: steelblue;
}

path.high_temp_line{
    stroke: red;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend_high {
  color: red;
}
.legend_low {
  color: steelblue;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .forecast-tile .weather-data {
    float:right;
  }
  .forecast-tile .weather-summary {
    float:left;
    height:119px;
  }
  .forecast-tile .weather-icon {
    min-width: 100px
  }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
